<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="[styl].css">
    </head>
    <body>
        <h1>{{market.name}}</h1>
        <h3>{{usr.name}}</h3>
        <h3>{{usr.money}}</h3>
        <form action="buy" method="POST">
            <table>
                <tr>
                    <th>Název firmy</th>
                    <th>Ticker</th>
                    <th>Vlastníš</th>
                    <th>Cena</th>
                    <th>Maximální nákup</th>
                    <th>Nákup</th>
                    <th>Prodej</th>
                </tr>
            {% for t in  table %}
                <tr>
                    <td>{{t[0]}}</td>
                    <td>{{t[1]}}</td>
                    <td>{{t[2]}}</td>
                    <td>{{t[3]}}</td>
                    <td>{{t[4]}}</td>
                    <td><input type="text" id="{{t[1]}}/buy" name="{{t[1]}}/buy"></td>
                    <td><input type="text" id="{{t[1]}}/sell" name="{{t[1]}}/sell"></td>
                </tr>
            {% endfor %}
            </table>
            <button>submit</button>
        </form>
        
    </body>
</html>